<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qooems.wechat.mapper.DataZXMapper">
    <resultMap id="BaseResultMap" type="com.qooems.wechat.model.DataZX">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="INDEX_" jdbcType="VARCHAR" property="index_"/>
        <result column="SORT" jdbcType="INTEGER" property="sort"/>
        <result column="NP" jdbcType="INTEGER" property="np"/>
        <result column="NB" jdbcType="INTEGER" property="nb"/>
        <result column="SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="POL_YR" jdbcType="INTEGER" property="polYr"/>
        <result column="GP" jdbcType="DOUBLE" property="gp"/>
        <result column="CV" jdbcType="DOUBLE" property="cv"/>
    </resultMap>

    <select id="findByIndex_" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            data_zx
        <where>
            <if test="index_ != null and index_ != ''">
                AND index_ = #{index_}
            </if>
        </where>
        ORDER BY sort ASC
        limit 63
    </select>

    <delete id="clear">
        delete from data_zx
    </delete>

</mapper>