<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qooems.wechat.mapper.gov2.GovDataMapper">

    <select id="findDataByIdNumber" resultType="map">
            select t.id,c.name,t.gov_buy_balance,t.gov_buy_freezing_balance,o.MAN_HOUR_COEFFICIENT from customer c,transaction_summary t,org o where
            c.id = t.people_id
            and t.ORG_ID = o.id
            and c.ID_NUMBER = #{idNumber}
    </select>
    
    <update id="updateGovBuyBalance">
        update transaction_summary set gov_buy_balance = #{govByyBalance} where id = #{id}
    </update>

    <update id="updateGovBuyFreeingBalance">
        update transaction_summary set gov_buy_freezing_balance = #{GovBuyFreeingBalance} where id = #{id}
    </update>

</mapper>